<?xml version="1.0"?>
<!--
Copyright 2020 RUVU Robotics B.V.
-->

<launch>
  <!-- Gmapping -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen" required="true">
    <rosparam file="$(find packman_intelligence_bringup)/config/gmapping.yaml" command="load"/>
  </node>
</launch>
