# Symlinking controllers
KERNEL=="js[0-9]*", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0719", MODE="0666", GROUP="dialout", SYMLINK+="xbox_controller"
KERNEL=="js[0-9]*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c21f", MODE="0666", GROUP="dialout", SYMLINK+="logitech_controller"

# Lawicel CANUSB module
#ATTRS{idProduct}=="6015", ATTRS{idVendor}=="0403", SYMLINK+="usbcan%n", TAG+="systemd", ENV{SYSTEMD_WANTS}="slcand@%k.service"

#ENV{SUBSYSTEM}=="tty", ENV{ID_MODEL}=="CANUSB", SYMLINK+="usbcan%n", TAG+="systemd", ENV{SYSTEMD_WANTS}="slcand@%k.service"

#ACTION=="add", ENV{ID_MODEL}=="CANUSB", ENV{SUBSYSTEM}=="tty", RUN+="/usr/bin/logger [udev] Lawicel CANUSB detected - running slcan_add.sh!" TAG+="systemd" ENV{SYSTEMD_WANTS}="slcand@$env{DEVNAME}.service"



# udev rules for USB CAN adapters
SUBSYSTEM!="tty", GOTO="usb_can_rules_end"

# VScom USB-CAN Plus
ENV{SUBSYSTEM}=="tty", ENV{ID_MODEL}=="CANUSB", SYMLINK+="usbcan%n", TAG+="systemd", ENV{SYSTEMD_WANTS}="slcand@%k.service"

LABEL="usb_can_rules_end"
